<div style="background-image: url('/assets/images/RandomImages/image3.jpg'); background-size: cover" >
<form [formGroup]="loginFormFunction()" style="height: 520px">

  <table class="table-hover" align="right" bgcolor="#add8e6" style="position: absolute; right: 40px; top: 200px; border-radius: 20px">
    <tr class="bg-primary">
      <td></td>
      <td ><h3>LoginPage</h3></td>
    </tr>
    <tr>
      <td>UserName:</td>
      <td><input class="bg text-danger" type="text" placeholder="Enter User Name"  ></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" placeholder="Enter Password" class="text-danger"></td>
    </tr>
    <tr>
      <td></td>
      <td><input class="bg-success" type="submit" value="SignIn"></td>
    </tr>

    <tr>
      <td>
        New User?
      </td>
      <td><input class="bg-success" type="button"  routerLink="registrationPage" value="SignUp"></td>
    </tr>

  </table>
</form>

</div>

