
<h2 align="center" class="text-danger"><strong><u>Top Searched Mobiles</u></strong></h2>
<div>
  <table width="60%" cellspacing="35px" style="position: absolute; left: 20%; top: 40%" >
    <tr>
      <td><div><img src="assets/images/mobile-images/honor-9n.jpeg" height="300" width="143"  /><br>
        <strong>Honor-9n</strong></div></td>
      <td><div><img src="assets/images/mobile-images/VivoV9.jpeg" height="300" /><br>
        <strong>vivo v9</strong></div></td>
      <td><div><img src="assets/images/mobile-images/vivoV15pro.jpeg" height="300" width="141" /><br>
        <strong>vivo V15</strong></div></td>
    </tr>


    <tr>
      <td><div><img src="../../../assets/images/mobile-images/lenovo-k9.jpeg" height="300" width="143" /><br>
        <strong>Lenovo K9</strong></div></td>
      <td><div><img src="../../../assets/images/mobile-images/mi-a1.jpeg" height="300" width="147" /><br>
        <strong>MI A1</strong></div></td>
      <td><div><img src="../../../assets/images/mobile-images/mi-redmi-5-na.jpeg" height="300" width="141" /><br>
        <strong>MI Redmi 5</strong></div></td>
    </tr>
  </table>
</div>

<!--<div>
  <table>
      <tr>
        <td><div><img src="../../../assets/images/Laptops/Dell-Inspiron15-15000Core-i3.jpeg" height="200" width="312"/><br>
          <strong>Dell Inspiron15-15000Core I3</strong>
        </div></td>
        <td><div><img src="../../../assets/images/Laptops/Dell-inspiron-Pentium-QuadCore.jpeg" height="202"
                      width="312"/><br>
            <strong>Dell Inspiration-Pentium -QuadCore</strong>
         </div></td>
        <td><div><img src="../../../assets/images/Laptops/HP15q-Core i5.jpeg" height="202" width="312"/><br>
                  <strong>HP 15q-Core i5</strong>
          </div></td>
      </tr>

    <tr>
      <td><div><img src="../../../assets/images/Laptops/Lenovo-Ideapad-330Corei5.jpeg" height="188" width="312"/><br>
        <strong>Lenovo IdeaPad 330Corei5</strong></div></td>
      <td><div><img src="../../../assets/images/Laptops/LenovoCore-i5.jpeg" height="165" width="312"/><br>
        <strong>Lenovo Core i5</strong></div></td>
      <td><div><img src="../../../assets/images/Laptops/LenovoIdeapad-130Core-i5.jpeg" height="197" width="312"/><br>
        <strong>Lenovo IdeaPad 130Core i5</strong></div></td>
    </tr>
  </table>
</div>-->











