<header>
  <nav class="navbar navbar-expand-sm bg-success">
    <ul class="navbar-nav row" >
      <li class="nav-item col-md-3 "  >
        <button class="text-danger" >Home</button>
      </li>
      <li class="nav-item col-md-3">
        <button class="text-danger" routerLink="loginPage">Login</button>
      </li>
      <li class="nav-item col-md-3">
        <button class="text-danger" routerLink="registrationPage">Signup</button>
      </li>
      <li class="nav-item col-md-3">
        Search:
        <input  type="text" placeholder="search">
      </li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>


